* {
    color: skyblue;
}

h1, h2, h3, h4 {
    font-family: Copperplate, Impact, 'Arial Narrow Bold', sans-serif;
    color: orange;
}

/* CSS section to style the header */
header {
    position: sticky;
    top: 5px;
    z-index: 1000;

    /* Background gradient */
    background:
    linear-gradient(
        180deg,
        rgba(119, 3, 243, 0.2) 39%,
        rgb(211, 28, 156) 96%
      ) center center / 100vw 100% no-repeat,
    rebeccapurple;

    /* Shadow */
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);

    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 20vw;
    margin-right: 20vw;

    /* Red border */
    border-style: solid;
    border-color:hsl(0, 81%, 38%);
    border-width: 5px;
    border-radius: 30px;

    padding-right: 4vw;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
}

/* Text editor for title */
.agenda_title {
    font-size: 20px;
    text-align: center;
    color: orange;
    text-decoration: underline;
    padding-left: 40px;
}

/* Text editor for list */
nav ul li {
    color: rgba(1,1,1,0);
    text-align: center;
    font-size: 12px;
}

/* Color changes for hyperlinks */
a:hover {
    color: #fdfdfd;
}
a:visited {
    color: #40df6b;
}
a:active {
    color: #2f1caa;
}

body {
    display: block;
    background-image: radial-gradient(circle, 
    rgba(119, 3, 243, 1), rgba(211, 28, 156, 1));
}

h1 {
    font-size: 50px;
}

section {
    display: block;
}

#Attendance {
    scroll-margin-top: 170px;
}

/* From ChatGPT */
input[type="checkbox"] + label {
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
}

input[type="checkbox"]:checked + label {
    color: darkblue; /* Change color when checkbox is checked */
    font-weight: bold; /* Change font weight when checkbox is checked */
    text-decoration: underline;
    padding-left: 30px;
}

#PreviousRuns {
    scroll-margin-top: 170px;
}

h2 > span {
    color: orange;
}

i.highlight {
    background-color: yellow;
}

#JokeroftheWeek {
    scroll-margin-top: 170px;
}

.flex-img {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.last-img {
    align-self: center;
    justify-content: center;
}

#FutureSeeds:has(ol) {
    grid-row-start: 2;
    grid-column-start: 1;
    align-self: center;
    padding-bottom: 5em;
    padding-right: 20px;
}

#FutureSeeds {
    scroll-margin-top: 170px;
    display: grid;

    grid-template-columns: 100px, 480px;
}

/* Positioning within grid for different items */
& h3 {
    font-size: 30px;
    grid-row-start: 1;
    grid-column-start: 1;
    font-family: Copperplate;
}


video {
    grid-row-start: 2;
    grid-column-start: 2;
    border-style: solid;
    border-color:hsl(202, 67%, 54%);
    border-width: 5px;
}

audio {
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: center;
    padding-left: 95px;
}

main details {
    display: none;
}

footer {
    display: block;
}

#PersonalInfo {
    display: box;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);

    margin: 10px 10px 20px 20px;

    border: 50rem;
    border-radius: 10px;

    padding: 10px 0px 10px 25px;

    background-image: radial-gradient(circle, 
    rgba(119, 3, 243, 0.8), rgba(211, 28, 156, 0.9));
    
    #full_name {
        background-image: radial-gradient(circle, 
        rgba(119, 3, 243, 0.8), rgba(211, 28, 156, 0.9));
    }

    #email {
        background-image: radial-gradient(circle, 
        rgba(119, 3, 243, 0.8), rgba(211, 28, 156, 0.9));
    }

    #phone {
        background-image: radial-gradient(circle, 
        rgba(119, 3, 243, 0.8), rgba(211, 28, 156, 0.9));
    }

    #dob {
        background-image: radial-gradient(circle, 
        rgba(119, 3, 243, 0.8), rgba(211, 28, 156, 0.9));
    }
}

#interests {

    display: box;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);

    margin: 10px 10px 20px 20px;

    border: 50rem;
    border-radius: 10px;

    padding: 10px 0px 10px 25px;

    background-image: radial-gradient(circle, 
    rgba(119, 3, 243, 0.8), rgba(211, 28, 156, 0.9));
}

#membership {
    display: box;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);

    margin: 10px 10px 20px 20px;

    border: 50rem;
    border-radius: 10px;

    padding: 10px 0px 10px 25px;

    background-image: radial-gradient(circle, 
    rgba(119, 3, 243, 0.8), rgba(211, 28, 156, 0.9));
    
    #membership_type {
        background-image: radial-gradient(circle, 
        rgba(119, 3, 243, 0.8), rgba(211, 28, 156, 0.9));
    }
}

#experience {
    display: box;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);

    margin: 10px 10px 20px 20px;

    border: 50rem;
    border-radius: 10px;

    padding: 10px 0px 10px 25px;

    background-image: radial-gradient(circle, 
    rgba(119, 3, 243, 0.8), rgba(211, 28, 156, 0.9));

    #experience_level {
        background-image: radial-gradient(circle, 
        rgba(119, 3, 243, 0.8), rgba(211, 28, 156, 0.9));
    }
}

#add_info {
    display: box;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);

    margin: 10px 10px 20px 20px;

    border: 50rem;
    border-radius: 10px;

    padding: 10px 0px 10px 25px;

    background-image: radial-gradient(circle, 
    rgba(119, 3, 243, 0.8), rgba(211, 28, 156, 0.9));
        
    button[type="submit"]:hover {
        text-decoration: underline;
    }

    button {
        background-image: radial-gradient(circle, 
        rgba(119, 3, 243, 0.8), rgba(211, 28, 156, 0.9));
    }

    #additional_info {
        background-image: radial-gradient(circle, 
        rgba(119, 3, 243, 0.8), rgba(211, 28, 156, 0.9));
    }
}